@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Figtree", sans-serif;
  background-color: hsl(47, 88%, 63%);
}
.card {
  border: 1px solid rgb(0, 0, 0);
  padding: 20px;
  /* width: 400px; */
  box-shadow: 7px 7px;
  border-radius: 10px;
  margin: 20px;
  background-color: hsl(0, 0%, 100%);
}
.card:hover {
  box-shadow: 10px 10px;
  cursor: pointer;
}
.main-content > h5 {
  background-color: hsl(47, 88%, 63%);
  width: 80px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  margin: 15px 0 10px 0;
}
.main-content h2 {
  margin: 15px 0 15px 0;
}
.main-content h2:hover {
  color: yellow;
  cursor: pointer;
}
.main-content img {
  display: flex;
  /* justify-content: center;
  text-align: center; */
  flex: 1;
  border-radius: 10px;
}
.main-content #content {
  color: hsl(0, 0%, 50%);
}
.user-img {
  display: flex;
  width: 120px;
  gap: 7px;
  margin-top: 15px;
}
.user-img img {
  height: 30px;
}

.user-img h5 {
  margin-top: 6px;
}
#content {
  width: 310px;
}

@media (max-width: 651px) {
  #content {
    width: 260px;
  }
  .card {
    width: 300px;
  }
  .main-content img {
    width: 260px;
  }
}
